---
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  return []
}

const { slug } = Astro.params
---

<BaseLayout>
  <article>
    <h1>{slug}</h1>
  </article>
</BaseLayout>
